---
import { Code } from "astro:components";
import PythonIcon from "./icons/PythonIcon.astro";
import RIcon from "./icons/RIcon.astro";

export interface Props {
    pythonCode: string;
    rCode: string;
    dataTabsTargetPython: string;
    ariaControlsPython: string;
    dataTabsTargetR: string;
    ariaControlsR: string;
}

const {
    pythonCode,
    rCode,
    dataTabsTargetPython,
    ariaControlsPython,
    dataTabsTargetR,
    ariaControlsR,
} = Astro.props;
---

<div
    class="w-full bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
>
    <ul
        class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
        id="defaultTab"
        data-tabs-toggle="#defaultTabContent"
        role="tablist"
    >
        <li class="me-2">
            <button
                id="python-tab"
                data-tabs-target={dataTabsTargetPython}
                type="button"
                role="tab"
                aria-controls={ariaControlsPython}
                aria-selected="true"
                class="flex justify-center items-center py-1 px-4 text-blue-600 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700"
            >
                <PythonIcon class="size-4 xs:size-6 text-white" />

                <p class="flex-1 px-2 py-2">Python</p>
            </button>
        </li>
        <li class="me-2">
            <button
                id="rlang-tab"
                data-tabs-target={dataTabsTargetR}
                type="button"
                role="tab"
                aria-controls={ariaControlsR}
                aria-selected="true"
                class="flex justify-center items-center py-1 px-4 text-blue-600 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700"
            >
                <RIcon class="size-4 xs:size-6" />
                <p class="flex-1 px-2 py-2">
                    R
                </p></button
            >
        </li>
    </ul>
    <div id="defaultTabContent">
        <div
            class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800"
            id={ariaControlsPython}
            role="tabpanel"
            aria-labelledby="python-tab"
        >
            <Code code={pythonCode} lang="python" wrap />
        </div>
        <div
            class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800"
            id={ariaControlsR}
            role="tabpanel"
            aria-labelledby="rlang-tab"
        >
            <Code code={rCode} lang="r" wrap />
        </div>
    </div>
</div>

<script type="module">
    function iniciarTabs() {
        console.log("✅ Tabs inicializados");

        const tabs = document.querySelectorAll("[data-tabs-target]");
        const tabPanels = document.querySelectorAll("[role='tabpanel']");
        console.log("tab panels", tabPanels)
        tabs.forEach((tab) => {
            tab.addEventListener("click", function () {
                const targetPanel = document.querySelector(
                    tab.dataset.tabsTarget,
                );
                console.log("target panel", targetPanel)

                tabPanels.forEach((panel) => panel.classList.add("hidden"));
                tabs.forEach((otherTab) =>
                    otherTab.classList.remove(
                        "text-blue-600",
                        "dark:text-blue-500",
                    ),
                );

                targetPanel.classList.remove("hidden");
                tab.classList.add("text-blue-600", "dark:text-blue-500");
            });
        });

        tabs[0]?.click();
    }

    // 🔄 Esperar que Astro cargue completamente antes de ejecutar
    setTimeout(iniciarTabs, 100);
    document.addEventListener("DOMContentLoaded", iniciarTabs);
    document.addEventListener("astro:after-swap", iniciarTabs);
</script>
