---
export interface Props{
    inicioHref: string
    aboutHref: string
    experienceHref: string
    projectsHref: string
    blogHref: string
}

const { inicioHref, aboutHref, experienceHref, projectsHref, blogHref } = Astro.props;
---
<header
    class="flex justify-between items-center px-5 sm:px-10 md:px-20 py-5 w-full mx-auto fixed 
        top-0 left-0 z-50 backdrop-blur-lg transition-all duration-300"
    style="background-color: rgba(24, 24, 24, 0.1);"
>
    <a href="https://www.linkedin.com/in/emanuel-fitta/">
        <img
            class="w-10 aspect-square p-1 ring-2 ring-gray-300 dark:ring-gray-500 rounded-full lg:size-12 object-cover"
            src="/photo.jpeg"
            alt="Emanuel Fitta"
        />
    </a>

    <nav class="flex flex-wrap gap-x-10 opacity-80 px-5 ml-auto">
        <a href={inicioHref}>Inicio</a>
        <a href={aboutHref}>Sobre mi</a>
        <a href={experienceHref}>Experiencia</a>
        <!-- <a href={projectsHref}>Proyectos</a> -->
        <a href={blogHref}>Blog</a> 
        <a href="mailto:jerf8010@gmail.com">Contacto</a>
    </nav>
</header>
